@{
    ViewBag.Title = "Home Page";
}

<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>

<h3>@ViewBag.Response</h3>